.nav {
    background-color: #243FFF;
    border-radius: 9px;
    margin: 20px 20px 10px 100px;
}

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    /* 重なり順を一番上にする */
    cursor: pointer;
    background-color: #243FFF;
    border-radius: 9px;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 9px;
    background: white;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
    bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
    top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
    background-color: #EAEAEA;
    color: #243FFF;
    font-size: 30px;
}

/* メニュー黒ポチを消す */
.nav_list {
    list-style: none;
    text-align: center;
    padding-top: 20%;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
    left: 0;
    /* メニューを画面に入れる */
}

.nav_item a {
    text-decoration: none;
    color: #243FFF;
}

.nav_item button {
    border: none;
    background-color: #EAEAEA;
    color: #243FFF;
    font-size: 30px;
    cursor: pointer;
}

.shop-detail__left__name {
    display: flex;
    padding-left: 100px;
    padding-top: 40px;
}

.shop-detail {
    display: flex;
}

.shop-detail__left__name__a {
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 3px black;
    padding: 10px;
}

.shop-detail__left__name__h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
}

.shop-detail__left img {
    width: 30rem;
    height: 20rem;
    margin-left: 100px;
    margin-top: 20px;
}

.shop-detail__left__p {
    display: flex;
}

.shop-detail__left__p__area {
    margin-left: 100px;
}

.shop-detail__left__p__genre {
    padding-left: 5px;
}

.shop-detail__left__description {
    margin-left: 100px;
    width: 30rem;
}

.shop-detail__right {
    position: relative;
    top: -80px;
    right: -100px;
    width: 30rem;
    height: 42rem;
    background-color: #243FFF;
    border-radius: 6px;
    box-shadow: 3px 3px 3px black;
    padding-left: 20px;
}

.shop-detail__right h2 {
    font-size: 30px;
    color: white;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width: 10rem;
    cursor: pointer;
}

.form-group select {
    width: 25rem;
    cursor: pointer;
}

.reservation-summary {
    width: 24rem;
    background-color: #3D64FF;
    border-radius: 6px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.reservation-summary p {
    color: white;
}

.reservation-summary span {
    position: absolute;
    left: 10rem;
}

.shop-detail__right button {
    background-color: #0011FE;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    cursor: pointer;
}