.nav {
    background-color: #243FFF;
    border-radius: 9px;
    margin: 20px 20px 10px 100px;
}

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    /* 重なり順を一番上にする */
    cursor: pointer;
    background-color: #243FFF;
    border-radius: 9px;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 9px;
    background: white;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
    bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
    top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked~.drawer_open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked~.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked~.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
    background-color: #EAEAEA;
    color: #243FFF;
    font-size: 30px;
}

/* メニュー黒ポチを消す */
.nav_list {
    list-style: none;
    text-align: center;
    padding-top: 20%;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
    left: 0;
    /* メニューを画面に入れる */
}

.nav_item a {
    text-decoration: none;
    color: #243FFF;
}

.nav_item button {
    border: none;
    background-color: #EAEAEA;
    color: #243FFF;
    font-size: 30px;
    cursor: pointer;
}

.header__search {
    padding-left: 380px;
    padding-top: 10px;
}

.header__search__list {
    display: flex;
    background-color: white;
    padding-left: 0;
    border: none;
    box-shadow: 3px 3px 3px black;
}

.header__search__list__li__area {
    list-style: none;
}

.header__search__list__li__genre {
    list-style: none;
}

.header__search__list__li__name {
    list-style: none;
}

.header__search__list__li__area__select {
    width: 100px;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    cursor: pointer;
}

.header__search__list__li__genre__select {
    width: 100px;
    height: 50px;
    border-top: none;
    border-bottom: none;
    border-left: #EAEAEA;
    cursor: pointer;
}

.header__search__list__li__name__icon {
    background-color: white;
    margin-left: 5px;
}

.header__search__list__li__name__select {
    width: 300px;
    height: 50px;
    border: none;
    cursor: pointer;
}

/*　ショップカードデザイン */
/* コンテナの設定 */
.shop__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* アイテム間のスペース */
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

/* 各アイテムの設定 */
.shop__content__item {
    flex: 1 1 calc(25% - 16px);
    /* 4列に配置するための計算式 */
    box-sizing: border-box;
    /* パディングやボーダーを含めたサイズを計算 */
    margin-bottom: 16px;
    /* 縦方向のスペース */
    box-shadow: 3px 3px 3px black;
}

.shop__content__image img {
    width: 100%;
    /* 画像の幅をアイテムに合わせる */
    height: auto;
    /* 画像の高さを自動調整 */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* レスポンシブ対応 */
@media (max-width: 1200px) {
    .shop__content__item {
        flex: 1 1 calc(33.333% - 16px);
        /* 3列に変更 */
    }
}

@media (max-width: 900px) {
    .shop__content__item {
        flex: 1 1 calc(50% - 16px);
        /* 2列に変更 */
    }
}

@media (max-width: 600px) {
    .shop__content__item {
        flex: 1 1 100%;
        /* 1列に変更 */
    }
}

.shop__content__profile {
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.shop__content__profile__name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.shop__content__profile__tag {
    margin-bottom: 10px;
}

.shop__content__profile__tag__area {
    font-size: small;
}

.shop__content__profile__tag__genre {
    font-size: small;
}

.shop__content__profile__more {
    display: flex;
    justify-content: space-between;
}

.shop__content__profile__more__a {
    text-decoration: none;
    background-color: #243FFF;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
}

.favorite-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 5px;
    font-size: 20px;
    color: #EAEAEA;
    cursor: pointer;
}

.favorite-button.favorited {
    color: red;
    cursor: pointer;
}